.bg-div {
    background-image: url("../assets/pictures/ChromeWallpaper.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    opacity: 30%;
}

.submit-button {
    display: block;
    text-transform: uppercase;
    color: #f1ebe5;
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    border-radius: 20px;
    font-size: 48px;
    background: linear-gradient(to bottom, #ece4d9 0%,#e9dfd1 100%);
    padding: 0px 15px
}

.item {
    width:90%;
    height:70%;
    margin-bottom: 1rem;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;

    @media only screen and (min-width: 1440px) {
        width: 49%;
        height: 51%;
    }
  }
