@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/Inter-Black.woff2') format('woff2'),
}

@font-face {
  font-family: 'Inter-xli';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/Inter-ExtraLight.woff2') format('woff2'),
}

@font-face {
  font-family: 'Inter-md';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/Inter-Medium.woff2') format('woff2'),
}

@font-face {
  font-family: 'Inter-li';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/Inter-Light.woff2') format('woff2'),
}

body {
  font-family: 'Inter-li';
  color: #000000;
  background-color: white;
}