  .gr1 {
    position: absolute;
    background: radial-gradient(circle at 50%, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    mix-blend-mode: var(--blending);
    opacity: 1;
    animation: moveVertically 30s ease infinite;
  }

  .gr2 {
    position: absolute;
    background: radial-gradient(circle at 50%, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 - 50%);
    left: calc(50% - var(--circle-size) / 2 - 20%);
    mix-blend-mode: var(--blending);
    opacity: 1;
    animation: moveHorizontally 35s ease infinite;
  }

  .gr3 {
    position: absolute;
    background: radial-gradient(circle at 50%, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 - 30%);
    left: calc(50% - var(--circle-size) / 2 + 40%);
    mix-blend-mode: var(--blending);
    opacity: 1;
    transform-origin: calc(50% - 400px);
    animation: rotateCircle 20s reverse infinite;
  }

  .gr4 {
    position: absolute;
    background: radial-gradient(circle at 50%, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2 - 30%);
    mix-blend-mode: var(--blending);
    opacity: 1;
    transform-origin: calc(50% + 500px);
    animation: rotateCircle 40s reverse infinite;
    transform-origin: 75%;
  }

  .gr5 {
    position: absolute;
    background: radial-gradient(circle at 50%, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 - 20%);
    left: calc(50% - var(--circle-size) / 2 + 30%);
    mix-blend-mode: var(--blending);
    opacity: 1;
    animation: moveHorizontally 35s ease infinite;
  }

  .gr6 {
    position: absolute;
    background: radial-gradient(circle at 50%, rgba(var(--color6), 0.8) 0, rgba(var(--color6), 0) 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 20%);
    left: calc(50% - var(--circle-size) / 2 - 30%);
    mix-blend-mode: var(--blending);
    opacity: 1;
    animation: moveHorizontally 35s ease infinite;
  }

  .gr-interactive {
    position: absolute;
    background: radial-gradient(circle at 50%, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    width: 50%;
    height: 50%;
    mix-blend-mode: var(--blending);
    opacity: 1;
    top: -40%;
    left: -25%;
  }

  .bg-gradient {
    width: 100vw;
    height: 100vh;
    position:absolute;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top:0;
    left:0;
  }

  .gradient-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }
  
  @keyframes rotateCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    
    }  
  }
  
  @keyframes moveVertically {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%)
    }
  }
  
  @keyframes moveHorizontally {
    0% {
      transform: translateX(-50%) translateY(-30%);
    }
    50% {
      transform: translateX(25%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-30%);
    }
  }