.nav-buttons-container {
    flex: 1;
    cursor: pointer;
  }

  .nav-buttons-text:hover {
    font-size: 1.3rem;
  }

  .nav-buttons-text {
    display: inline-block;
    transition: all;
    transition-duration: 300ms;
    padding: 0.75rem;
    border-radius: 16px;
    width: 75%;
    height: auto;
  }